html, body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button {
  background: lightgray;
}

.App {
  display: flex;
}

#left, #right {
  width: 100px;
  outline: 1px solid red;
}

#middle {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#top {
  height: 100px;
  outline: 1px solid green;
}
#center {
  flex: 1;
}

#bottom {
  height: 180px;
  outline: 1px solid yellow;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.messages {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 12px;
}

.messages li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a.tile:hover {
  font-size: 120%
}
